<div class="row">
	<div class="col-md-12">
      <div class="tile">
        <div class="tile-body col-md-8">
          <%= form_for @user do |f|%>
            <div class="form-group">
              <label class="control-label"><%= t('content.name') %></label>
							<br>
              <%= f.text_field :name, class: "form-control" %>
							<br>
            </div>

            <div class="form-group">
              <label class="control-label"><%= t('content.phone') %></label>
							<br>
              <%= f.text_field :phone, class: "form-control" %>
							<br>
            </div>

						<%= f.fields_for :access do |access_field| %>
							<div class="form-group col-md-3">
								<label class="control-label"><%= t('content.email') %></label>
								<br>
								<%= access_field.text_field :email, class: "form-control" %>
							</div>

							<div class="form-group col-md-3">
								<label class="control-label"><%= t('content.password') %></label>
								<br>
								<%= access_field.password_field :password, class: "form-control" %>
							</div>

							<div class="form-group col-md-3">
								<label class="control-label"><%= t('content.password_confirmation') %></label>
								<br>
								<%= access_field.password_field :password_confirmation, class: "form-control" %>
							</div>
						<% end %>

            <div class="tile-footer">
							<br>
              <button class="btn btn-primary mr-3" type="submit">
                <i class="fa fa-fw fa-lg fa-check-circle"></i>
                <%= t('content.add') %>
              </button>
              <%= link_to users_path, class: "btn btn-secondary" do %>
                <i class="fa fa-fw fa-lg fa-times-circle"></i>
                <%= t('content.cancel') %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
